<template>
  <div class="card h-1000" style="height: 630px !important">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <h6 class="mb-0">Approvement Izin Pegawai</h6>
        </div>
        <div class="col-6 text-end" style="visibility: hidden">
          <argon-button color="success" size="sm" variant="gradient">
            <i class="fas fa-plus me-2"></i>Tambah Jabatan</argon-button
          >
        </div>
        <div class="col-md-4 mt-2 mb-3">
          <div class="d-flex form-input input-group">
            <span
              class="input-group-text text-body bg-gray-100"
              style="outline-width: 2px; border: none"
            >
              <i class="fas fa-search"></i>
            </span>
            <input
              v-model="search1"
              style="border: none; box-shadow: none"
              class="form-control form-control-md bg-gray-100"
              type="text"
              placeholder="Cari..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2 mb-3">
      <div v-if="this.izin.data == ''" class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                No
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Pegawai
              </th>
              <th
                class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Jenis Izin
              </th>
              <th
                class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Tanggal Izin
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Surat Izin
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Status
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
            </tr>
          </thead>
        </table>
        <p
          class="text-center text-secondary text-xl font-weight-bold mt-9"
          style="font-size: 23px"
        >
          Data Kosong
        </p>
      </div>
      <div
        v-else-if="this.izin.data != ''"
        class="table-responsive p-0 border-bottom"
      >
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                No
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Pegawai
              </th>
              <th
                class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Jenis Izin
              </th>
              <th
                class="ps-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Tanggal Izin
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Surat Izin
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Status
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, index) in izin.data" :key="data.id">
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{
                  (this.currentpage - 1) * this.perpage + index + 1
                }}</span>
              </td>
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">{{
                  data.email
                }}</span>
              </td>
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">{{
                  data.jenis_izin
                }}</span>
              </td>
              <td class="align-middle">
                <span class="text-secondary text-xs font-weight-bold">{{
                  data.tanggal
                }}</span>
              </td>
              <td class="align-middle text-sm text-center">
                <span style="cursor: pointer" class="text-primary text-xs"
                  ><i class="fa-solid fa-file"></i
                  ><a
                    class="text-primary"
                    :href="`files/${data.bukti}`"
                    target="_blank"
                  >
                    Document</a
                  ></span
                >
              </td>
              <td class="align-middle text-center text-sm">
                <span
                  class="badge badge-sm bg-secondary"
                  v-if="data.status_izin == 'Diproses'"
                  >{{ data.status_izin }}</span
                >
                <span
                  class="badge badge-sm bg-gradient-danger"
                  v-if="data.status_izin == 'Ditolak'"
                  >Ditolak</span
                >
                <span
                  class="badge badge-sm bg-gradient-success"
                  v-if="data.status_izin == 'Diterima'"
                  >Diterima</span
                >
              </td>
              <td class="align-middle text-center text-sm">
                <span
                  @click.prevent="approveizin(data.id)"
                  style="cursor: pointer; margin-right: 7px"
                  class="badge badge-sm bg-warning disabled"
                  ><i class="fas fa-edit"></i
                ></span>
                <span
                  @click.prevent="hapusizin(data.id)"
                  style="cursor: pointer"
                  class="badge badge-sm bg-danger"
                  ><i class="far fa-trash-alt"></i
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-4 mb-2">
        <Pagination
          class="pagination pagination-sm pagination justify-content-end"
          align="center"
          size="small"
          :data="izin"
          @pagination-change-page="allizin"
        />
      </div>
    </div>
  </div>
</template>

<script>
import setNavPills from "../../../assets/js/nav-pills.js";
import ArgonButton from "../tes/ArgonButton.vue";
import LaravelVuePagination from "laravel-vue-pagination";
import { useToast } from "vue-toastification";
export default {
  components: {
    ArgonButton,
    Pagination: LaravelVuePagination,
  },
  name: "dat-approveizin",
  data() {
    return {
      LaravelVuePagination: {
        current_page: 1,
      },
      search1: "",
      infopt: [],
      izin: [],
      currentpage: [],
      perpage: [],
      form: new Form({
        id: "",
        status_izin: "",
      }),
      token: localStorage.getItem("token"),
      role: localStorage.getItem("role"),
    };
  },
  methods: {
    approveizin(id) {
      console.log(id);
      const custom = Swal.mixin({
        customClass: {
          cancelButton: "btn btn-secondary ms-2",
          confirmButton: "btn bg-gradient-success",
          denyButton: "btn bg-gradient-danger",
        },
        buttonsStyling: false,
      });
      custom
        .fire({
          title: "Approvement Izin Pegawai ?",
          icon: "warning",
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: "Approve",
          denyButtonText: "Tolak",
          cancelButtonText: "Nanti",
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.$axios
              .post(
                "/api/approveizin",
                {
                  id: id,
                  status_izin: "Diterima",
                },
                {
                  headers: { Authorization: "Bearer " + this.token },
                }
              )
              .then((response) => {
                if (response.data.success) {
                  const toast = useToast();
                  toast.success("Pengajuan Izin Telah Diterima", {
                    position: "top-center",
                    timeout: 2000,
                    icon: "fa-sharp fa-solid fa-thumbs-up",
                  });
                  this.allizin();
                }
              });
          }
          if (result.isDenied) {
            this.$axios
              .post(
                "/api/approveizin",
                {
                  id: id,
                  status_izin: "Ditolak",
                },
                {
                  headers: { Authorization: "Bearer " + this.token },
                }
              )
              .then((response) => {
                if (response.data.success) {
                  const toast = useToast();
                  toast.success("Pengajuan Izin Telah Ditolak", {
                    position: "top-center",
                    timeout: 2000,
                    icon: "fa-sharp fa-solid fa-thumbs-up",
                  });
                  this.allizin();
                }
              });
          }
        });
    },
    allizin(page = 1) {
      this.$axios.get("/sanctum/csrf-cookie").then((response) => {
        this.$axios
          .get(`/api/allizin?page=${page}&search=${this.search1}`, {
            headers: { Authorization: "Bearer " + this.token },
          })
          .then((response) => {
            this.izin = response.data;
            this.currentpage = response.data.current_page;
            this.perpage = response.data.per_page;
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    },
    hapusizin(id) {
      this.$axios.get("/sanctum/csrf-cookie").then((response) => {
        const custom = Swal.mixin({
          customClass: {
            confirmButton: "btn bg-gradient-danger",
            cancelButton: "btn btn-secondary ms-2",
          },
          buttonsStyling: false,
        });
        custom
          .fire({
            title: "Hapus Izin ?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Hapus",
            cancelButtonText: "Batal",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$axios.delete("/api/hapusizin/" + id, {
                headers: { Authorization: "Bearer " + this.token },
              });
              const toast = useToast();
              toast.success("Berhasil Menghapus Izin", {
                position: "top-center",
                timeout: 2000,
                icon: "fa-sharp fa-solid fa-thumbs-up",
              });
            }
            this.allizin();
          });
      });
    },
    getpt() {
      this.$axios.get("/sanctum/csrf-cookie").then((response) => {
        this.$axios
          .get("/api/infopt", {
            headers: { Authorization: "Bearer " + this.token },
          })
          .then((response) => {
            this.infopt = response.data.data;
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    },
    searchizin(val) {
      if (val == "") {
        this.allizin();
      } else {
        this.$axios
          .get("/api/searchizin/" + val, {
            headers: { Authorization: "Bearer " + this.token },
          })
          .then((response) => {
            this.izin = response.data;
          });
      }
    },
  },
  watch: {
    search1: function () {
      this.allizin(this.search1);
    },
  },

  mounted() {
    setNavPills();
    this.getpt();
    this.allizin();
  },
};
</script>
