<template>
  <div class="card h-1000">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-6 d-flex align-items-center" style="visibility: hidden">
          <h6 class="mb-0">Daftar Gaji yang Belum Diambil</h6>
        </div>
        <div class="col-6 text-end">
          <argon-button
            class="me-2"
            color="primary"
            size="sm"
            variant="outline"
            @click.prevent="togaji()"
            >Kembali</argon-button
          >
          <argon-button
            color="warning"
            size="sm"
            variant="outline"
            @click="cetak()"
            >Cetak</argon-button
          >
        </div>
      </div>
    </div>
    <div class="card-body ms-2 px-0 pt-0 pb-2 mb-3">
      <div class="card-body pt-4 p-3">
        <div class="invoice-box" id="element-to-convert">
          <table cellpadding="0" cellspacing="0">
            <tr class="top">
              <td colspan="2">
                <table>
                  <tr>
                    <td class="title">
                      <a
                        href="javascript:;"
                        v-for="data in infoptpeg"
                        :key="data.id"
                      >
                        <img
                          width="100"
                          height="100"
                          :src="`/files/${data.logo}`"
                          class="rounded-circle border border-1 border-black"
                        />
                      </a>
                    </td>

                    <td style="text-align: right">
                      <span style="font-weight: 500; font-size: 25px"
                        >Slip Penggajian</span
                      ><br /><br />
                      No Transaksi. {{ this.detgaji.no_transaksi }}<br />
                      {{ this.detgaji.tanggal }}<br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="information">
              <td colspan="2">
                <table>
                  <tr>
                    <td>
                      <span style="font-weight: 500">
                        {{ this.detgaji.namapt }}</span
                      ><br />
                      {{ this.detgaji.kota }}, {{ this.detgaji.provinsi
                      }}<br />{{ this.detgaji.kodepos }}
                    </td>

                    <td style="text-align: right">
                      {{ this.detgaji.nama }}<br />
                      {{ this.detgaji.jabatan }}<br />
                      NIP.{{ this.detgaji.nopegawai }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="heading">
              <td>Pembayaran</td>

              <td style="text-align: right">Status</td>
            </tr>

            <tr class="details">
              <td><a> Mandiri</a></td>

              <td style="text-align: right"><a>Berhasil</a></td>
            </tr>
            <tr class="heading">
              <td>Gaji Pokok</td>

              <td style="text-align: right">Nominal</td>
            </tr>

            <tr class="item">
              <td>
                <a>
                  {{ this.detgaji.jabatanadmin }}
                </a>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <a>
                  {{ convertToRupiah(this.detgaji.gajipokok) }}
                </a>
              </td>
            </tr>
            <tr class="item" v-if="this.detgaji.totallembur != 0">
              <td>
                <a> Upah Lembur {{ this.detgaji.jamlembur }} Jam Total </a>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <a>
                  {{ convertToRupiah(this.detgaji.totallembur) }}
                </a>
              </td>
            </tr>
            <tr
              class="item"
              v-else-if="this.detgaji.totallembur == 0"
              style="display: none"
            >
              <td>
                <a> Potongan Tidak Bekerja </a>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <a>
                  {{ convertToRupiah(this.detgaji.potongabsen) }}
                </a>
              </td>
            </tr>
            <tr class="item" v-if="this.detgaji.potongabsen != 0">
              <td>
                <a>
                  Potongan Tidak Bekerja {{ this.detgaji.tidakmasuk }} Hari
                </a>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <a> (-){{ convertToRupiah(this.detgaji.potongabsen) }} </a>
              </td>
            </tr>
            <tr
              class="item"
              v-else-if="this.detgaji.potongabsen == 0"
              style="display: none"
            >
              <td>
                <a> Potongan Tidak Bekerja </a>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <a>
                  {{ convertToRupiah(this.detgaji.potongabsen) }}
                </a>
              </td>
            </tr>
            <tr class="heading">
              <td>Tunjangan</td>

              <td style="text-align: right">Nominal</td>
            </tr>

            <tr class="item">
              <td>
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.tunjangan"
                  :key="data.id"
                >
                  {{ data }}
                </li>
              </td>

              <td style="text-align: right; margin-top: -0, 5rem">
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.nomtun"
                  :key="data.id"
                >
                  {{ convertToRupiah(data) }}
                </li>
              </td>
            </tr>
            <tr class="heading">
              <td>Bonus</td>

              <td style="text-align: right">Nominal</td>
            </tr>
            <tr class="item">
              <td>
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.bonus"
                  :key="data.id"
                >
                  {{ data }}
                </li>
              </td>

              <td style="text-align: right">
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.nombon"
                  :key="data.id"
                >
                  {{ convertToRupiah(data) }}
                </li>
              </td>
            </tr>
            <tr class="heading">
              <td>Potongan</td>

              <td style="text-align: right">Nominal</td>
            </tr>
            <tr class="item">
              <td>
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.potongan"
                  :key="data.id"
                >
                  {{ data }}
                </li>
              </td>

              <td style="text-align: right">
                <li
                  style="list-style: none"
                  v-for="data in this.detgaji.nompot"
                  :key="data.id"
                >
                  {{ convertToRupiah(data) }}
                </li>
              </td>
            </tr>
          </table>
          <div cellpadding="0" cellspacing="0" style="margin-top: 1rem">
            <table>
              <tr class="heading2">
                <td>Gaji Pokok</td>

                <td style="text-align: right">
                  {{ convertToRupiah(this.detgaji.gajiabsen) }}
                </td>
              </tr>
              <tr class="heading2">
                <td>Total Tunjangan</td>

                <td style="text-align: right">
                  {{ convertToRupiah(this.detgaji.totaltunjangan) }}
                </td>
              </tr>
              <tr class="heading2">
                <td>Total Bonus</td>

                <td style="text-align: right">
                  {{ convertToRupiah(this.detgaji.totalbonus) }}
                </td>
              </tr>
              <tr class="heading2">
                <td>Total Potongan</td>

                <td style="text-align: right">
                  (-){{ convertToRupiah(this.detgaji.totalpotongan) }}
                </td>
              </tr>
              <tr class="heading2">
                <td>Gaji Kotor</td>

                <td style="text-align: right">
                  {{ convertToRupiah(this.detgaji.gajikotor) }}
                </td>
              </tr>
              <tr class="heading" style="font-size: large">
                <td>Terima Bersih</td>

                <td style="text-align: right">
                  {{ convertToRupiah(this.detgaji.gajibersih) }}
                </td>
              </tr>
            </table>
          </div>
          <table cellpadding="0" cellspacing="0" style="margin-top: 3rem">
            <tr class="information">
              <td>
                <table colspan="2">
                  <tr>
                    <td>
                      <span>Mengetahui</span><br />
                      <br /><br /><br />
                      {{ this.detgaji.jabatanadmin }} {{ this.detgaji.namapt }}
                    </td>
                    <td style="text-align: right">
                      <span>Diterima Oleh</span><br />
                      <br /><br /><br />
                      {{ this.detgaji.nama }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import setNavPills from "../../../assets/js/nav-pills.js";
import ArgonButton from "../tes/ArgonButton.vue";
import ArgonCheckbox from "../tes/ArgonCheckbox.vue";
import { useToast } from "vue-toastification";
import LaravelVuePagination from "laravel-vue-pagination";
import html2pdf from "html2pdf.js";

export default {
  components: {
    ArgonButton,
    ArgonCheckbox,
    Pagination: LaravelVuePagination,
  },
  name: "cetak-gaji",
  data() {
    return {
      detgaji: [],
      infoptpeg: [],
      token: localStorage.getItem("token"),
      role: localStorage.getItem("role"),
    };
  },
  created() {},
  methods: {
    gaji() {
      this.$axios
        .get(`/api/cetakgaji/${this.$route.params.id}`, {
          headers: { Authorization: "Bearer " + this.token },
        })
        .then((response) => {
          this.detgaji = response.data.data;
        })
        .catch(function (error) {
          console.error(error);
        });
    },
    ptinfopeg() {
      this.$axios.get("/sanctum/csrf-cookie").then((response) => {
        this.$axios
          .get("/api/infoptpeg", {
            headers: { Authorization: "Bearer " + this.token },
          })
          .then((response) => {
            this.infoptpeg = response.data.data;
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    },
    cetak() {
      html2pdf(document.getElementById("element-to-convert"), {
        margin: 1,
        filename: `${this.detgaji.no_transaksi}-${this.detgaji.email}-${this.detgaji.nopegawai}.pdf`,
        html2canvas: {
          dpi: 192,
          scale: 4,
          letterRendering: true,
          useCORS: true,
        },
      });
    },
    togaji() {
      this.$router.push("/riwayatgajipegawai");
    },
    convertToRupiah(value) {
      // value = value.toString()
      value = parseFloat(value);
      let rupiah = "";
      let valueRev = value.toString().split("").reverse().join("");
      for (let i = 0; i < valueRev.length; i++) {
        if (i % 3 === 0) rupiah += `${valueRev.substr(i, 3)}.`;
      }

      const rp = rupiah
        .split("", rupiah.length - 1)
        .reverse()
        .join("");
      // console.log('rupiah', isNaN(rp), rupiah.length, rp, rupiah)
      if (rupiah === "NaN." || rupiah === "NaN") {
        return "...";
      }
      return `Rp ${rp}`;
    },
  },
  mounted() {
    this.ptinfopeg();
    this.gaji();
  },
};
</script>
<style scoped>
.invoice-box {
  max-width: 570px;
  margin: auto;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.heading2 td {
  background: rgb(255, 255, 255);
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }
  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}
/** RTL **/

.invoice-box.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.invoice-box.rtl table {
  text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
  text-align: left;
}
</style>